@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/search.css" />
</head>

@* temp *@
@{
    @* Use session flag + checks *@
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var onAdmin = currentController == "Admin";
    var user = await UserManager.GetUserAsync(User);
    var roleStr = "";
    if (user != null)
    {
        var roles = await UserManager.GetRolesAsync(user);
        roleStr = string.Join(", ", @roles);
    }
}

@* Left Side *@
<ul class="navbar-nav flex-grow-1">
    @if (SignInManager.IsSignedIn(User) && @onAdmin == true && (User.IsInRole("Admin") || User.IsInRole("Employee")))
    {
        <h2 class="text-header pl-4 text-light">Employee Portal</h2>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Shop" asp-action="Index">Payment
                Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Shop" asp-action="PayPalConfirmation">Order
                Confirmation
                Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="Index">(Admin
                Orders)</a>
        </li>

        <li class="position-relative d-flex align-items-center">
            <span class="material-icons text-light cursor-pointer" id="searchToggle">
                search
            </span>
            <form asp-controller="Product" asp-action="Index" method="get" class="search-form" id="searchForm">
                <input type="text" name="searchString" placeholder="Search" class="form-control"
                    value="@ViewBag.SearchFilter" />
            </form>
        </li>


    }

</ul>

@* Right Side *@
<ul class="navbar-nav d-flex gap-2 align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (@onAdmin == false || User.IsInRole("Customer"))
        {
            <li class="nav-item">
                <a class="btn-image">
                    <img src="~/images/search.svg" alt="Search Button" width="32" height="32">
                </a>
            </li>

            <li class="nav-item">
                <a class="btn-image" asp-area="" asp-controller="Wishlist" asp-action="Index">
                    <img src="~/images/heart.svg" alt="Wishlist Button" width="32" height="32">
                </a>
            </li>

            <li class="nav-item">
                <a class="btn-image" asp-area="" asp-controller="Cart" asp-action="Index">
                    <img src="~/images/cart.svg" alt="Checkout Button" width="32" height="32">
                </a>
            </li>
        }

        <ul class="nav nav-link p-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light d-flex flex-row align-items-center gap-1 p-0"
                    data-toggle="dropdown" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="~/images/profile_solid.svg" alt="Profile Button" width="32" height="32" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end my-3">
                    <li class="d-flex flex-column px-3">
                        <p class="m-0 fw-normal">@User.Identity?.Name</p>
                        <p class="m-0 fs-8 opacity-50">@roleStr</p>
                    </li>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        Edit Profile
                    </a>
                    <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        Logout
                    </a>
                    <div class="dropdown-divider"></div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        @if (@onAdmin == true)
                        {
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                Go Back To Main Site
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item text-dark" asp-area="" asp-controller="Admin" asp-action="Index">
                                Go Back To Employee Portal
                            </a>
                        }
                    }
                </ul>
            </li>
        </ul>

    }
    else
    {
        <li class="nav-item border border-white px-2">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item border border-white px-2">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
