@model NavbarVM
@using Microsoft.AspNetCore.Identity
@using peakmotion.ViewModels;
@inject SignInManager<IdentityUser> SignInManager

<head>
    <link rel="stylesheet" href="~/css/search.css" />
</head>

@* Right Side *@
<ul class="navbar-nav d-flex gap-2 align-items-center">
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Customer") || @Model.OnAdminPortal == false)) 
{
    <li class="position-relative d-flex align-items-center">
        @* <span class="material-icons text-light cursor-pointer" id="searchToggle">
            search
        </span> *@
        <li class="nav-item" id="searchToggle">
            <a class="btn-image">
                <img src="~/images/search.svg" 
                    alt="Search Button"
                    width="32"
                    height="32"
                >
            </a>
        </li>
        <form asp-controller="Product" asp-action="Index" method="get" class="search-form" id="searchForm">
            <input type="text" name="searchString" placeholder="Search" class="form-control"
                value="@ViewBag.SearchFilter" />
        </form>
    </li>
    
    <li class="nav-item">
        <a class="btn-image"
            asp-area="" 
            asp-controller="Wishlist" 
            asp-action="Index">
            <img src="~/images/heart.svg" 
                alt="Wishlist Button"
                width="32"
                height="32"
            >
        </a>
    </li>
    
    <li class="nav-item">
        <a class="btn-image" 
            asp-area="" 
            asp-controller="Cart" 
            asp-action="Index">
            <img src="~/images/cart.svg" 
                alt="Checkout Button"
                width="32"
                height="32"
            >  
        </a>  
    </li>
}
