@model NavbarVM
@using Microsoft.AspNetCore.Identity
@using peakmotion.ViewModels;
@inject SignInManager<IdentityUser> SignInManager

    <head>
        <link rel="stylesheet" href="~/css/search.css" />
    </head>

    @* Left Side *@
    <ul class="navbar-nav d-flex align-items-center w-100 justify-content-between">
        @if (SignInManager.IsSignedIn(User) && @Model.OnAdminPortal == true && (User.IsInRole("Admin") ||
        User.IsInRole("Employee")))
        {
        <h2 class="text-header pl-4 text-light">Employee Portal</h2>
        }
        else
        {
        <li class="d-flex align-items-center gap-3">
            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index"
                asp-route-category="">Products</a>
        </li>
        <li class="d-flex align-items-center gap-3">
            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index"
                asp-route-category="Men">Men</a>
        </li>
        <li class="d-flex align-items-center gap-3">
            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index"
                asp-route-category="Women">Women</a>
        </li>
        <li class="d-flex align-items-center gap-3">
            <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index"
                asp-route-category="Equipment">Equipment</a>
        </li>

        @* Search button aligned to the right *@
        <li class="d-flex align-items-center" id="searchToggleContainer">
            <!-- (ms-auto) Moves search to the right (now done in css b/c need to remove for mobiel)-->
            <a class="btn-image" id="searchToggle">
                <img src="~/images/search.svg" alt="Search Button" width="32" height="32">
            </a>
            <form asp-controller="Product" asp-action="Index" method="get" class="search-form" id="searchForm"
            asp-route-sortedByString="A-Z" asp-route-category="">
                <input type="text" name="searchString" placeholder="Search Here" class="form-control"
                    value="@ViewBag.SearchFilter" />
                <button type="button" class="search-close" id="searchClose">×</button>
            </form>
        </li>
        }
    </ul>

    <script src="~/js/search.js"></script>