@model NavbarVM
@using Microsoft.AspNetCore.Identity
@using peakmotion.ViewModels;
@inject SignInManager<IdentityUser> SignInManager

    @* Right Side *@
    <ul class="navbar-nav d-flex align-items-center navbar-right">
        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Customer") || @Model.OnAdminPortal == false))
        {
        <li class="nav-item">
            <a class="btn-image" asp-area="" asp-controller="Wishlist" asp-action="Index">
                <img src="~/images/heart.svg" alt="Wishlist Button" width="32" height="32">
            </a>
        </li>

        <partial name="_CartSummary" model=@ViewBag.CartItemCount />
        }