@model IEnumerable<peakmotion.ViewModels.ProductVM>


 
 <div class="shippingOrderSummary">
    <form class="shipping-form" action="/shipping" method="POST">
        <H3>Contact</H3>  
        <div class="form-group d-flex flex-column mb-3">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address">
        </div>
        <div class="pt-2">
            <h3>Shipping Address</h3>
            <div id="name">
                <div class="form-group d-flex flex-column mb-3">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Enter your first name">
                </div>
                <div class="form-group d-flex flex-column mb-3">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="firstname" placeholder="Enter your last name">
                </div>
            </div>
           
            <div class="form-group d-flex flex-column mb-3">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" placeholder="">
            </div>
            <div class="form-group d-flex flex-column mb-3">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" placeholder="">
            </div>
            <div id="addressDetail">
                <div class="form-group d-flex flex-column mb-3">
                    <label for="apptunit">Appt/Unit</label>
                    <input type="text" id="apptunit" name="apptunit" placeholder="">
                </div>
                <div class="form-group d-flex flex-column mb-3">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" placeholder="">
                </div>
            </div>
            <div id="provincePoscode">
                <div class="form-group d-flex flex-column mb-3">
                    <label for="province">Province</label>
                    <input type="text" id="province" name="province" placeholder="">
                </div>
                <div class="form-group d-flex flex-column mb-3">
                    <label for="postalcode">Postal Code</label>
                    <input type="text" id="postalcode" name="postalcode" placeholder="">
                </div>
            </div>
            
           
        </div>

    </form>

    <section>
        <h4>ORDER SUMMARY</h4>
        <div></div>
        <div id="giftApply">
            <div class="d-flex flex-column mb-3">
                <label for="code">Gift Card/Discount Code</label>
                <input type="text" id="code" name="code" placeholder="Code">
            </div>
            <button id="apply">APPLY</button>
        </div>
        
        <div class="d-flex flex-column mb-3">
            <p>Subtotal</p>
            <p>Shipping</p>
            <p>Tax</p>
        </div>
        <div><p>Total</p></div>
    </section>
 </div>
