@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex flex-column gap-3 p-3 border-end" style="width: 250px;">
    <div class="text-center">
        <img src="~/images/profile_solid.svg" alt="Profile Icon" width="64" height="64" class="mb-2" />
        <p class="fw-bold m-0">ANNA</p>
        <p class="text-muted m-0">Customer</p>
    </div>
    <hr />
    <a class="btn btn-outline-dark text-start" asp-page="/Account/Manage/Index">Dashboard</a>
    <a class="btn btn-outline-dark text-start" asp-controller="Order" asp-action="Index">Purchase History</a>
    <a class="btn btn-dark text-start" asp-page="/Account/Manage/Index">Profile</a>
    <a class="btn btn-outline-dark text-start" asp-area="" asp-controller="Wishlist" asp-action="Index">Wishlist</a>
    <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/" class="m-0">
        <button type="submit" class="btn btn-outline-dark text-start w-100">Sign Out</button>
    </form>
</div>
