obj/Debug/.*
bin/Debug/.*
Migrations/.*
obj/Debug/
bin/Debug/
Migrations/
obj/peakmotion.csproj.nuget.dgspec.json
obj/peakmotion.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vscode/