@{
ViewData["Title"] = "Access Denied";
}

<main class='d-flex mx-7 my-5 gap-5'>
    <div class="col-md-6">
        <img src="~/images/products/all.jpg" alt="Placeholder Image" class="img-fluid h-100"
            style="object-fit: cover; width: 100%; height: 100vh;" />
    </div>
    <div class="col-md-6 mt-4">
        <h1 class="display-3 mb-4">Access Denied</h1>
        <p class="display-6">Please try refreshing your page or clearing your cache.</p>
    </div>
</main>