@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homepage.css">
<div >
    <img  class="homepageheader" src="~/images/homeheader.jpg" alt="homeheaderimage">
    <div class="container">
        
        <div class="bestseller">
            <h2 class="text-center">GEAR UP. <br> ADVENTRURE AWAITS!</h2>
            <button class="bg-dark">SHOP BEST SELLERS</button>
        </div>

        <div class="categories">
            <div class="d-flex flex-column gap-3">
                <img src="https://picsum.photos/500/700?random=1" alt="">
                <button>TOPS</button>
            </div>
            <div class="d-flex flex-column gap-3">
                <img src="https://picsum.photos/500/700?random=2" alt="">
                <button>BOTTOMS</button>
            </div>
            <div class="d-flex flex-column gap-3">
                <img src="https://picsum.photos/500/700?random=3" alt="">
                <button>PACKS</button>
            </div>
            <div class="d-flex flex-column gap-3">
                <img src="https://picsum.photos/500/700?random=4" alt="">
                <button>EQUIPMENT</button>
            </div>

        </div>
        
        <div class="bg-dark">
            <p>Dec 14-21</p>
            <h1>25% OFF</h1>
            <h1>EQUIPMENT</h1>
        </div>

        <div class="shopwear">
            <div class="d-flex flex-column gap-3">
                <img src="https://picsum.photos/500/700?random=5" alt="">
                <button>SHOP MENSWEAR</button>
            </div>
            <div class="d-flex flex-column gap-3">
                <img src="https://picsum.photos/500/700?random=6" alt="">
                <button>SHOP WOMENSWEAR</button>
            </div>
        </div>

        <div>
            <h2 class="peak">POPULAR RIGHT NOW</h2>
            <div class="popular">
                <div>
                    <img src="https://picsum.photos/500/700?random=7" alt="">
                    <p>product name</p>
                    <p>price</p>
                </div>
                <div>
                    <img src="https://picsum.photos/500/700?random=8" alt="">
                    <p>product name</p>
                    <p>price</p>
                </div>
                <div>
                    <img src="https://picsum.photos/500/700?random=9" alt="">
                    <p>product name</p>
                    <p>price</p>
                </div>
                <div>
                    <img src="https://picsum.photos/500/700?random=10" alt="">
                    <p>product name</p>
                    <p>price</p>
                </div>
                <div>
                    <img src="https://picsum.photos/500/700?random=11" alt="">
                    <p>product name</p>
                    <p>price</p>
                </div>
            </div>
           
        </div>
    
        <div class="member">
            <img  src="~/images/noun-hiking-1631508.svg" alt="">
        </div>
        

        <div>
            <h2 class="peak">#PEAKMOTION</h2>
            <div class="peakmotion">
                <img src="https://picsum.photos/500/700?random=11" alt="">
                <img src="https://picsum.photos/500/700?random=11" alt="">
                <img src="https://picsum.photos/500/700?random=11" alt="">
                <img src="https://picsum.photos/500/700?random=11" alt="">
                <img src="https://picsum.photos/500/700?random=11" alt="">
            </div>
        </div>

    </div>


</div>
