#orderConfirmation {
  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  align-items: start;
}
#orderConfirmation h5 {
  margin-left: 1rem;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  font-size: 16px;
  color: #fff;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: 38px;
}

button:hover {
  background-color: #0056b3;
}
@media (min-width: 1024px) {
  .orderInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-evenly;
    margin-left: 6rem;
    gap: 0;
    justify-items: center;
  }
}
