.shippingOrderSummary {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#name,
#addressDetail,
#provincePoscode,
#giftApply {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#apply {
  margin-top: 25px;
}

input {
  height: 38px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 250px;
}

button {
  font-size: 16px;
  color: #fff;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 184px;
  height: 38px;
}

button:hover {
  background-color: #0056b3;
}

.saveAddress {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.saveAddress input {
  min-width: 30px;
  height: 18px;
  border-radius: 4px;
}
@media (min-width: 1024px) {
  .shippingOrderSummary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}
