.shippingOrderSummary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

#name,
#addressDetail,
#provincePoscode,
#giftApply {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#apply {
  margin-top: 25px;
}
