.product-container {
  margin: 1rem;
}

.carousel img {
  max-width: 100%;
  border-radius: 8px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
}

.color-selection .colors {
  display: flex;
  gap: 10px;
}

.color-selection {
  margin-top: 0%;
}

/* .color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
} */

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: none;
  outline: 2px solid transparent;
}

.color-circle.selected {
  border: 2px solid white;
  outline: 2px solid black;
  transform: scale(1.1);
}

.size-selection select,
.quantity-selection input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-to-cart {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: start;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

/* .product-description {
  margin-top: 20px;
  width: 100%;
  flex-basis: 100%;
} */

.product-price {
  font-size: 1.5rem;
  color: #333;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.carousel-inner {
  border-radius: 8px;
  overflow: hidden;
}

.carousel-item img {
  border-radius: 8px;
}
