@model IEnumerable<peakmotion.ViewModels.ProductVM>

    <section class="product-grid">
        @foreach (var saleItem in Model)
        {
        <partial name="Product/_ProductCard" for="@saleItem" />
        }
    </section>